---
BasedOnStyle: LLVM
AccessModifierOffset: -8
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
  PadOperators: true
AlignOperands: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: NextLineOnly
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma
BreakTemplateDeclarations: MultiLine
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterClass: true
  AfterStruct: true
  AfterFunction: true
  AfterNamespace: false
  AfterCaseLabel: false
  AfterExternBlock: false
  BeforeElse: false
  BeforeWhile: true
  BeforeCatch: true
  BeforeLambdaBody: true
  SplitEmptyRecord: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  AfterControlStatement: MultiLine
ColumnLimit: 0
UseTab: Never
ContinuationIndentWidth: 8
CompactNamespaces: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^<
    Priority: 2
  - Regex: ^"
    Priority: 3
  - Regex: .*
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
IndentWidth: 8
InsertBraces: true
PenaltyBreakBeforeFirstCallParameter: 0
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: false
SortIncludes: true
InsertNewlineAtEOF: true
RemoveSemicolon: true
Standard: c++03
Cpp11BracedListStyle: false
WhitespaceSensitiveMacros:
  - SEAD_ENUM
  - SEAD_ENUM_EX
  - SEAD_ENUM_EX_VALUES
  - PP_STRINGIZE
  - STRINGIZE
Language: Cpp
AlwaysBreakAfterReturnType: None

