
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/RE-Pepper/asm-differ
	branch = main
[submodule "lib/sead"]
	path = lib/sead
	url = https://github.com/RE-Pepper/sead_ctr
	branch = master
[submodule "lib/ctrsdk"]
	path = lib/CtrSDK
	url = https://github.com/RE-Pepper/ctrsdk
	branch = master
[submodule "lib/NintendoWare"]
	path = lib/NintendoWare
	url = https://github.com/RE-Pepper/NintendoWare_ctr
	branch = master
