[Bb]uild*/
__pycache__/
tools/__pycache__/
.cache/
[Pp]riv/

data/.*
data/compilers
data/stats/
data/stats/*
data/stats/*/*
data/ver/*/split/
data/ver/*/split/*
compile_commands.json
objdiff.json
data/ver/*.bin
data/*.bin
data/ver/*/*.bin
.changes
*.csv_b
*.m2c
*.bin
