[Bb]uild*/
__pycache__/
.cache/
[Pp]riv/

data/.*
data/config.user.json
data/compilers
data/stats/
data/stats/*
data/stats/*/*
data/ver/*/.*

objdiff.json
compile_commands.json

.changes
*.csv_b
*.m2c
*.bin
