
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/DecPepper/asm-differ
	branch = main
[submodule "lib/sead"]
	path = lib/sead
	url = https://github.com/DecPepper/sead_ctr
	branch = main
[submodule "lib/ctrsdk"]
	path = lib/CtrSDK
	url = https://github.com/DecPepper/ctrsdk
	branch = main
[submodule "lib/NintendoWare"]
	path = lib/NintendoWare
	url = https://github.com/DecPepper/NintendoWare_ctr
	branch = master
